In [7]:
import pandas as pd
import numpy as np

In [8]:
#Import csv into pandas as dataframes 

#all of the rollcall votes with 
rollcall_df = pd.read_csv('C:/Users/wills/Desktop/code/data/datasets_417872_835347_house_rollcall_info_116.csv')
#data in voting on 
legislation_df = pd.read_csv('C:/Users/wills/Desktop/code/data/house_legislation_116.csv')
rollcallVotes_df = pd.read_csv('C:/Users/wills/Desktop/code/data/house_rollcall_votes_116.csv')
members_df = pd.read_csv('C:/Users/wills/Desktop/code/data/datasets_417872_835347_house_members_116 (1).csv')

In [9]:
#rollcal data info
rollcall_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642 entries, 0 to 641
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rollcall_id  642 non-null    object
 1   roll_num     642 non-null    int64
 2   date         642 non-null    object
 3   bill_id      641 non-null    object
 4   question     642 non-null    object
 5   result       642 non-null    object
 6   description  641 non-null    object
 7   year         642 non-null    int64
 8   congress     642 non-null    int64
 9   session      642 non-null    int64
dtypes: int64(4), object(6)
memory usage: 50.3+ KB

In [10]:
#rollcall data table preview
rollcall_df.head()

,rollcall_id,roll_num,date,bill_id,question,result,description,year,congress,session
0,2019:001,1,3-Jan,QUORUM,Call by States,P,NaN,2019,116,1
1,2019:002,2,3-Jan,NaN,Election of the Speaker,P,,2019,116,1
2,2019:003,3,3-Jan,H.RES.5,On Motion to Table the Motion to Refer,P,"Providing for consideration of H.Res. 6, adopt...",2019,116,1
3,2019:004,4,3-Jan,H.RES.5,On Ordering the Previous Question,P,"Providing for consideration of H.Res. 6, adopt...",2019,116,1
4,2019:005,5,3-Jan,H.RES.5,On Motion to Commit with Instructions,F,"Providing for consideration of H.Res. 6, adopt...",2019,116,1

In [11]:
#Info on legislation data table
legislation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5806 entries, 0 to 5805
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   bill_id          5806 non-null   object
 1   title            5806 non-null   object
 2   sponsor          5806 non-null   object
 3   cosponsors       5806 non-null   object
 4   related_bills    5806 non-null   object
 5   policy_area      5570 non-null   object
 6   subjects         5806 non-null   object
 7   committees       5806 non-null   object
 8   bill_progress    5806 non-null   object
 9   summary          2426 non-null   object
 10  date_introduced  5782 non-null   object
 11  number           5806 non-null   int64
 12  bill_type        5806 non-null   object
dtypes: int64(1), object(12)
memory usage: 589.8+ KB

In [12]:
#legislation data table preview
legislation_df.head()

,bill_id,title,sponsor,cosponsors,related_bills,policy_area,subjects,committees,bill_progress,summary,date_introduced,number,bill_type
0,H.R.1,"To expand Americans' access to the ballot box,...",S001168,"['P000197', 'A000370', 'A000376', 'B001300', '...","['H.R.44', 'H.R.93', 'H.R.137', 'H.R.138', 'H....",Government Operations and Politics,['Administrative law and regulatory procedures...,"['House Administration', 'House Intelligence (...",Passed House,"This bill addresses voter access, election int...",2019-01-03,1,H.R.
1,H.R.3,"To establish a fair price negotiation program,...",P000034,"['N000015', 'S000185', 'L000557', 'K000382', '...","['H.R.4619', 'H.R.4649', 'H8607', 'H.R.4663']",Health,[],"['House Energy and Commerce', 'House Ways and ...",Introduced,This bill establishes several programs and req...,2019-09-19,3,H.R.
2,H.R.4,To amend the Voting Rights Act of 1965 to revi...,S001185,"['L000287', 'P000197', 'H000874', 'C000537', '...","['H.R.1799', 'S.561']",Government Operations and Politics,"['Civil actions and liability', 'Elections, vo...",['House Judiciary'],Introduced,NaN,2019-02-26,4,H.R.
3,H.R.5,To prohibit discrimination on the basis of sex...,C001084,"['F000466', 'C001119', 'D000629', 'H001087', '...","['H.Res.377', 'S.788']","Civil Rights and Liberties, Minority Issues","['Civil actions and liability', 'Consumer cred...","['House Judiciary', 'House Education and Labor...",Passed House,This bill prohibits discrimination based on se...,2019-03-13,5,H.R.
4,H.R.6,To authorize the cancellation of removal and a...,R000486,"['V000081', 'C001067', 'A000371', 'B001300', '...","['H.R.2820', 'H.R.2821', 'H.Res.415', 'S.874']",Immigration,['Administrative law and regulatory procedures...,"['House Judiciary', 'House Education and Labor']",Passed House,This bill cancels and prohibits removal procee...,2019-03-12,6,H.R.

In [13]:
#Rollcall Votes by column with the name ID info
#This is a key table to match with the above more specific rollcall data
rollcallVotes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443 entries, 0 to 442
Columns: 643 entries, name_id to 2019:630
dtypes: object(643)
memory usage: 2.2+ MB

In [14]:
#Rollcall Votes by name_id table preview
rollcallVotes_df.head()

,name_id,2019:641,2019:639,2019:640,2019:635,2019:636,2019:642,2019:634,2019:637,2019:638,...,2019:627,2019:625,2019:628,2019:624,2019:620,2019:632,2019:629,2019:631,2019:633,2019:630
0,A000374,No,Aye,No,Yea,Yea,No,Nay,Aye,Aye,...,Yea,Nay,Nay,No,Aye,Nay,Nay,Nay,Nay,Nay
1,A000370,Aye,Aye,Aye,Yea,Yea,Aye,Yea,No,Aye,...,Yea,Yea,Yea,Aye,No,Yea,Yea,Yea,Yea,Yea
2,A000055,No,Aye,No,Yea,Yea,No,Nay,Aye,Aye,...,Yea,Yea,Nay,No,Aye,Nay,Nay,Nay,Nay,Nay
3,A000371,Not Voting,Not Voting,Not Voting,Yea,Yea,Not Voting,Yea,Not Voting,Not Voting,...,Yea,Yea,Yea,Aye,No,Yea,Yea,Yea,Yea,Yea
4,A000372,No,Aye,No,Yea,Yea,No,Nay,Aye,Aye,...,Nay,Nay,Nay,No,Aye,Nay,Nay,Nay,Nay,Nay

In [15]:
#Members data info
members_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443 entries, 0 to 442
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   name_id                443 non-null    object
 1   name                   443 non-null    object
 2   state                  443 non-null    object
 3   url                    443 non-null    object
 4   chamber                443 non-null    object
 5   current_party          443 non-null    object
 6   committee_assignments  443 non-null    object
dtypes: object(7)
memory usage: 24.4+ KB

In [16]:
#Members table preview
members_df.head()

,name_id,name,state,url,chamber,current_party,committee_assignments
0,A000374,ralph-abraham,Louisiana,https://www.congress.gov/member/ralph-abraham/...,House,Republican,"['Agriculture', 'Armed Services']"
1,A000370,alma-adams,North Carolina,https://www.congress.gov/member/alma-adams/A00...,House,Democratic,"['Agriculture', 'Education and Labor', 'Financ..."
2,A000055,robert-aderholt,Alabama,https://www.congress.gov/member/robert-aderhol...,House,Republican,['Appropriations']
3,A000371,pete-aguilar,California,https://www.congress.gov/member/pete-aguilar/A...,House,Democratic,"['Appropriations', 'House Administration']"
4,A000372,rick-allen,Georgia,https://www.congress.gov/member/rick-allen/A00...,House,Republican,"['Agriculture', 'Education and Labor']"

In [17]:
#Saves all of the names of the members in a list
names = members_df['name']

In [18]:
#Joins the rollcallrollcallVotes_df wuth the names column.
#This is possible because the name_id key
#We now have all representative roll call vote outcomes with their associated name
rollcallVotes_df = rollcallVotes_df.join(names)

In [19]:
#Preview of the updated rollcallVotes dataframe
#Note the added "name" column now appended via the JOIN method 
rollcallVotes_df.head()

,name_id,2019:641,2019:639,2019:640,2019:635,2019:636,2019:642,2019:634,2019:637,2019:638,...,2019:625,2019:628,2019:624,2019:620,2019:632,2019:629,2019:631,2019:633,2019:630,name
0,A000374,No,Aye,No,Yea,Yea,No,Nay,Aye,Aye,...,Nay,Nay,No,Aye,Nay,Nay,Nay,Nay,Nay,ralph-abraham
1,A000370,Aye,Aye,Aye,Yea,Yea,Aye,Yea,No,Aye,...,Yea,Yea,Aye,No,Yea,Yea,Yea,Yea,Yea,alma-adams
2,A000055,No,Aye,No,Yea,Yea,No,Nay,Aye,Aye,...,Yea,Nay,No,Aye,Nay,Nay,Nay,Nay,Nay,robert-aderholt
3,A000371,Not Voting,Not Voting,Not Voting,Yea,Yea,Not Voting,Yea,Not Voting,Not Voting,...,Yea,Yea,Aye,No,Yea,Yea,Yea,Yea,Yea,pete-aguilar
4,A000372,No,Aye,No,Yea,Yea,No,Nay,Aye,Aye,...,Nay,Nay,No,Aye,Nay,Nay,Nay,Nay,Nay,rick-allen

In [20]:
#Finds all instance where John cooper voted and create a list
cooper = rollcallVotes_df.loc[rollcallVotes_df['name'] == 'james-cooper'].values.flatten().tolist()
#Finds all instance where AOC voted and create a list
aoc = rollcallVotes_df.loc[rollcallVotes_df['name'] == 'alexandria-ocasio-cortez'].values.flatten().tolist()
#Return all the columns of the dataframe as a list type
legislation = list(rollcallVotes_df.columns)

In [21]:
#Displaying the list created above
legislation[0:5]

['name_id', '2019:641', '2019:639', '2019:640', '2019:635']

In [54]:
#Displaying the list created above
cooper[0:20]

['C001110',
 'Aye',
 'Aye',
 'Aye',
 'Yea',
 'Yea',
 'Aye',
 'Yea',
 'No',
 'Aye',
 'No',
 'No',
 'No',
 'Yea',
 'Aye',
 'Yea',
 'No',
 'Aye',
 'No',
 'No']

In [55]:
#Displaying the list created above
aoc[0:20]

['P000604',
 'Aye',
 'Aye',
 'Aye',
 'Yea',
 'Yea',
 'Aye',
 'Yea',
 'No',
 'Aye',
 'No',
 'No',
 'No',
 'Yea',
 'Aye',
 'Yea',
 'No',
 'Aye',
 'No',
 'No']

In [46]:
#Create a voting comparision between Cooper and AOC

#creating an empty list
comparison = []

#for every item in the length of the list cooper, check if the outcome is the same as aoc 
#Append the comparison list to create a countable list of outcomes

for i in range(len(cooper)):
    if cooper[i] == aoc[i]:
        #Voted the same way
        comparison.append('Same')
    elif cooper[i] == 'Yea' and aoc[i] == 'Nay':
        #Voted where Cooper was yes. AOC was No
        comparison.append('Opposite')
    elif cooper[i] == 'Nay' and aoc[i] == 'Yea':
         #Voted where Cooper was no. AOC was yes
        comparison.append('Opposite')
    elif cooper[i] == 'Aye' and aoc[i] == 'Nay':
        #Voted where Cooper was yes. AOC was No
        comparison.append('Opposite')
    elif cooper[i] == 'Nay' and aoc[i] == 'Aye':
        #Voted where Cooper was no. AOC was yes
        comparison.append('Opposite')
    else:    
        #Voted where on of the two abstained
        comparison.append('Different')

In [47]:
#How many times did they vote the same
same = comparison.count('Same')
same

550

In [48]:
#How many times did they vote where at least one abstained
opposite = comparison.count('Opposite')
opposite

9

In [49]:
#How many times did they vote opposite from each other
different = comparison.count('Different') 
different

85

In [50]:
#Percent of votes that are the same
round(((same/(same + different + opposite)) * 100), 2)

85.4

In [51]:
#Percentage of votes that are "opposite" ie. One voted "Yes" and the other "No"
round(((opposite/(same + different + opposite)) * 100), 2)

1.4

In [52]:
#Percent of votes that are the "different" Where ate least one person abstained
round(((different/(same + different + opposite)) * 100), 2)

13.2